.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  font-size: 40px;
  text-shadow: 8px 8px gold;
}
/* write your parent styles in here for your App.js */
.card {
  background-image: url("./images/background.jpg");
  border-radius: 14px;
  width: 25%;
  max-height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 12px;
  border: 4px solid gold;
}
.logo {
  width: 450px;
  border-radius: 14px;
  border: 4px solid gold;
}
