body {
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 70px;
}

.card {
  display: flex;
  justify-content: center;
  border: solid black 3px;
  margin-bottom: 2%;
}

h2 {
  margin: 0 auto;
  font-size: 50px;
  color: black;
}
