body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #464646;
  background-image: url('./images/sw-bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
