body{
  margin: 0;
  padding: 0 auto;
  background-repeat: no-repeat;
  background-size: auto;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Header {
  color: rgb(120,50,30);
  font-size: 44px;
  letter-spacing: 1.2rem;
  text-shadow: 1px 1px 5px #fff;
}
@keyframes example {
  from {background-color: black;}
  to {background-color: gray;}
}
li {
  padding: 10px;
  border: 2px solid black;
  margin: 2px;
  background-color: gray;
  /* opacity: .5; */
  animation-name: example;
  animation-duration: 2s;
 
}
li:hover{
  background-color: black;
}
/* write your parent styles in here for your App.js */
