.App {
  text-align: center;
}

.Header {
  font-size: 2rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: rgba(255, 255, 255, 0.829);
}
/* write your parent styles in here for your App.js */
