.App {
  display:flex;
  text-align: center;
  flex-direction: column;
  padding: 0% 25%;
  text-shadow: 1px 1px 10px #fff;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
