body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-image: url('./images/sw-bg.jpg'); */
  background: url('./images/sw-bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
