body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./images/sw-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
}
