body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./images/rm-bg.jpg');
  background-size: contain cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
