body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("./images/rm-bg.jpg");
  background-size: cover;
}

.bold {
  font-weight: 700;
}

.alive {
  color: rgb(38, 209, 38);
}

.dead {
  color: rgb(184, 10, 10);
}

.unknown {
  color: rgb(100, 96, 96);
}