body {
  font-family: sans-serif;
  background-image: url('./images/sw-bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200vh;

}
