@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-SemiBold.ttf');
}

body {
  font-family: 'Titillium Web', sans-serif;
  border: 1rem solid #ff4b00;
  background-image: url('../images/background.jpg');
  background-size: cover;
}

#root,
body,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3 {
  color: rgb(170, 0, 0);
}

#root {
  width: 100%;
  overflow-y: auto;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: white;
  opacity: 0.8;
}

.character-card {
  transition: all 0.3s ease-in-out;
  margin: 1.2rem;
  padding: 1.2rem;
  border: 1px solid lightgray;
  background-color: rgb(246, 246, 246);
  border-radius: 15px;
}

.character-card:hover {
  transition: all 0.3s ease-in-out;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.character-card h3:hover {
  cursor: pointer;
  text-decoration: underline;
}

.character-card p {
  color: gray;
}

.character-planet {
  color: black;
}

header,
footer {
  padding: 1rem;
  color: white;
}
